body {
    background-image: url('https://raw.githubusercontent.com/mariusalexe1948/OSINT/main/1698648511705.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(0, 0, 0, 0); 
    color: #fff; 
    text-align: center; 
    padding: 20px 0;
}

.content {
    text-align: center;
    margin-top: 30px; /* Reducem margin-top pentru a îmbunătăți aspectul pe dispozitivele mobile */
}

.dropdown-btn {
    background-color: rgba(0, 0, 230, 0.5); 
    color: white;
    padding: 12px 18px; /* Reducem dimensiunea butonului */
    font-size: 14px; /* Reducem dimensiunea fontului */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px; /* Reducem margin-right pentru a îmbunătăți aspectul pe dispozitivele mobile */
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(0, 90, 255, 0.5);
    min-width: 140px; /* Reducem latimea dropdown-ului */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%; /* Aducem dropdown-ul la mijloc */
    transform: translateX(-50%); /* Aducem dropdown-ul la mijloc */
    top: 100%;
}

.dropdown-content a {
    color: white;
    padding: 10px 14px; /* Reducem dimensiunile link-urilor */
    text-decoration: none;
    display: block;
}

.dropdown-content:hover {
    display: block;
}

.site-uri {
    margin-left: 20px;
}
	#myDropdown,
#myDropdown1,
#myDropdown2,
#myDropdown3 {
    left: auto;
    right: 5%;
    top: 100%;
}
@media only screen and (max-width: 768px) {
    .content {
        margin-top: 20px; /* Ajustează margin-top pentru ecranele mai mici */
    }

    .dropdown-btn {
        padding: 10px 16px; /* Ajustează dimensiunile butoanelor pentru ecranele mai mici */
        font-size: 12px; /* Ajustează dimensiunea fontului pentru ecranele mai mici */
        margin-right: 5px; /* Ajustează margin-right pentru ecranele mai mici */
    }

    .dropdown-content {
        min-width: 120px; /* Ajustează lățimea dropdown-ului pentru ecranele mai mici */
    }

    .dropdown-content a {
        padding: 8px 12px; /* Ajustează dimensiunile link-urilor pentru ecranele mai mici */
    }
}
