
body {
            background-image: url('https://raw.githubusercontent.com/mariusalexe1948/OSINT/main/1698648511705.jpg');
            background-size: cover; 
            background-repeat: no-repeat;
            background-attachment: fixed; 
	    font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
		}
        .header {
            background-color: rgba(0, 0, 0, 0); 
            color: #fff; 
            text-align: center; 
            padding: 20px 0;
        }
        .content {
            text-align: center;
            margin-top: 50px;
        }
		.dropdown-btn {
			background-color:  rgba(0, 0, 230, 0.5); 
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
			position: relative;
			left: 05%;
			margin-right: 20px;
		}
   
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: rgba(0, 90, 255, 0.5);
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
			left: 10%;
		}
       
		.dropdown-content a {
			color: white;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}
      
		.dropdown-content:hover {
			display: block;
		}	
		
		.site-uri {
			margin-left: 20px;
		}
.btn {
    background-color: #4e8df5; /* albastru deschis pentru culoarea de fundal a butonului */
    color: white; /* culoarea textului din buton */
    padding: 15px 25px; /* spatierea intre margini si text */
    border: none; /* eliminam bordura */
    border-radius: 5px; /* rotunjim colturile */
    cursor: pointer; /* cursor pointer */
    font-size: 16px; /* dimensiunea fontului */
    transition: background-color 0.3s ease; /* adaugam o tranzitie pentru culoarea de fundal */
}

.btn:hover {
    background-color: #3b73c4; /* albastru inchis pentru culoarea de fundal a butonului la hover */
}

.btn:active {
    background-color: #2b549e; /* albastru inchis mai intens pentru culoarea de fundal a butonului la click */
}
