body {
    background-image: url('https://raw.githubusercontent.com/mariusalexe1948/OSINT/main/1698648511705.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

.header {
    background-color: rgba(0, 0, 0, 0); 
    color: #fff; 
    text-align: center; 
    padding: 20px 0;
}

.content {
    text-align: center;
    margin-top: 30px;
}

.dropdown-btn {
    background-color: rgba(0, 0, 230, 0.6); 
    color: white;
    padding: 8px 12px;
    font-size: 12px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    flex: 1;
    margin-bottom: 10px; 
    display: block;
    width: 20%; 
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: rgb(0, 191, 255);
    width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
}
.dropdown-content.active {
    display: block;
}
.dropdown-content a {
    color: white;
    padding: 10px 14px; 
    text-decoration: none;
    display: block;
}

.site-uri {
    margin-left: 20px;
}
#myDropdown1,
#myDropdown2,
#myDropdown3,
#myDropdown4, 
#myDropdown5, 
#myDropdown6,
#myDropdown7,
#myDropdown8,
#myDropdown9,
#myDropdown10, 
#myDropdown11,
#myDropdown12, 
#myDropdown13
{
    left: auto;
    right: 0%;
    top: 100%;
}

@media only screen and (max-width: 768px) {
    .content {
        margin-top: 20px; 
    }

    .dropdown-btn {
        padding: 10px 16px; 
        font-size: 12px; 
        margin-right: 5px;
        margin-bottom: 5px; 
        width: auto; 
    }

    .dropdown-content {
        min-width: 120px; 
    }

    .dropdown-content a {
        padding: 8px 12px; 
    }
     
}

